
@model IEnumerable<ProyetoInmobiliaria.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}

<h2 class="h2-propietario-background">Gestión de Propietarios</h2>
<p>
    @Html.ActionLink("Crear Propietario", "Crear", "Propietario", null, new { @class = "btn btn-agregar" })
</p>


<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPropietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                <a href="@Url.Action("Editar", new { id = item.IdPropietario })" class="btn btn-editar">Editar</a>
                    <form asp-action="Borrar" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.IdPropietario" />
                        <input type="submit" value="Eliminar" class="btn btn-eliminar" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container mt-4 text-center">
    <div class="image-container mt-5">
        <img src="~/img/5.1.jpg" class="centered-image" alt="" />
        <div class="image-caption mt-3">
            <h5>Agentes Inmobiliarios</h5>
            <p>Su futuro esta bien cuidado</p>
        </div>
    </div>
</div>