@model PagoContrato
@{
    ViewData["Title"] = "Pagos";
}
<h2>Pagos realizados por el contrato</h2>
<div class="w-auto">
    <select id="contratos" class="form-select">
        @foreach(var contrato in Model.Contratos){
            if(Model.IdContrato != 0 && contrato.IdContrato == Model.IdContrato){
                <option selected id="@contrato.IdContrato">@contrato.inquilino.Apellido - @contrato.inmueble.propietario.Apellido</option>    
            }else{
                <option id="@contrato.IdContrato">@contrato.inquilino.Apellido - @contrato.inmueble.propietario.Apellido</option>    
            }
        }
    </select>
</div>
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Contrato</th>
            <th>FechaPago</th>
            <th>Importe</th>
            <th>NumeroPago</th>
            <th>Detalle</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tablaPagos">
        @foreach (var item in Model.Pagos){
            <tr>
                <td>@item.contrato.inmueble.propietario.Apellido - @item.contrato.inquilino.Apellido</td>
                <td>@item.FechaPago.ToString("dd/MM/yyyy")</td>
                <td>$@item.Importe</td>
                <td>@item.NumeroPago</td>
                <td>@item.Detalle</td>
                @if(!item.Estado){
                    <td>Anulado</td>
                    <td>---</td>
                }else{
                    <td>Pagado</td>
                    <td class="d-flex align-items-center w-auto">
                        <form action="/Pago/Borrar" class="mx-1" method="post">
                            <input type="hidden" name="Id" value="@item.IdPago">
                            <button type="submit" class="btn btn-borrarbt">Anular</button>
                        </form>
                        <a href="/Pago/Editar/@item.IdPago" class="btn btn-editbt mx-1">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" id="botonNuevoPago">NUEVO PAGO</button>
@section Scripts {
    <script src="~/js/pagoScript.js"></script>
}
@*<h2>Pagos del contrato x</h2>
ACA IRIA UN FOREACH RECORRIENDO LOS PAGOS DE X CONTRATO Y
POR CADA PAGO UNA CARD DE ESTAS: 
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pago x</h5>
                <p class="card-text">media.Detalle</p>
                <a href="/Home/model.id" class="btn btn-primary" style="width: auto;">Ver detalles</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pago x</h5>
                <p class="card-text">media.Detalle</p>
                <a href="/Detalle/" class="btn btn-primary" style="width: auto;">Ver detalles</a>
            </div>
        </div>
    </div>
</div> *@