@model ContratoViewModel

@{
    ViewData["Title"] = "Detalles";
}

<div class="containerDetalle">
    <div class="columna">
        <div class="visorImagen">
            <img src="@Model.Inmueble.UrlImagen" alt="Imagen del inmueble">
        </div>
        <div class="visorDetalles">
            <h2>@Model.Inmueble.Descripcion</h2>
            <label for="">Cantidad de ambientes</label>
            <h5>@Model.Inmueble.CantidadAmbientes</h5>
            <label for="">Metros cuadrados</label>
            <h5>@Model.Inmueble.Metros2</h5>
            @if(Model.Inmueble.Cochera || Model.Inmueble.Piscina || Model.Inmueble.Mascotas){
                <h4>Características:</h4>
                @if (Model.Inmueble.Cochera)
                {
                    <div class="d-flex align-items-center">
                        <img src="/img/private-garage.png" alt="garage"> 
                        <h4 title="Garage">Tiene garage</h4>
                    </div>
                }
                @if (Model.Inmueble.Piscina)
                {
                    <div class="d-flex align-items-center">  
                        <i class="fa-solid fa-person-swimming"></i>
                        <h4 title="Pileta">Tiene piscina</h4>
                    </div>
                }
                @if (Model.Inmueble.Mascotas)
                {
                    <div class="d-flex align-items-center">  
                        <i class="fa-solid fa-paw"></i>
                        <h4 title="Mascotas">Se aceptan mascotas</h4>
                    </div>
                }
            }
        </div>
    </div>
    <div class="columna">
        <h2>Propietario: <a href="@Url.Action("Detalle","Propietario", new {id = Model.Inmueble.propietario.IdPropietario})">@Model.Inmueble.propietario.Nombre @Model.Inmueble.propietario.Apellido</a></h2>
       
        <h2>Contrato vigente</h2>
        @if(Model.Contrato != null)
        {
            
            <p>Desde @Model.Contrato.FechaInicio Hasta  @Model.Contrato.FechaFin</p>
            <a href="/Pago/Index/@Model.Contrato.IdContrato">Pagos realizados</a>
        }
        else
        {
            <p>No existen contratos para este inmueble</p>
            <a href="@Url.Action("Crear","Contrato", new { id_i = Model.Inmueble.IdInmueble})" > Crear uno</a>
        }
        
    </div>
</div>