@model InmuebleViewModel

@{
    ViewData["title"]="Editar Inmueble";
}

<h1>@Model.Inmueble.IdTipo.Observacion</h1>  

<div class="containerH">
    <div class="colu1">
        <div class="containerV">
            <img src="@Model.Inmueble.UrlImagen" alt="" class="img-m">
            <form asp-action="Guardar" method="post">
                <input type="hidden" asp-for="Inmueble.IdInmueble">
                <div class="form-group">
                    <label asp-for="Inmueble.UrlImagen">URL Imagen</label>
                    <input type="text" asp-for="Inmueble.UrlImagen" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.IdTipo.Observacion">Tipo</label>
                    <input type="text" asp-for="Inmueble.IdTipo.Observacion" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.CantidadAmbientes">Cantidad Ambientes</label>
                    <input type="text" asp-for="Inmueble.CantidadAmbientes" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Precio">Precio</label>
                    <input type="text" asp-for="Inmueble.Precio" class="form-control">
                </div>
                <div class="form-group">
                    <label class="CheckCochera">
                        <input class="form-check-input" asp-for="Inmueble.Cochera" type="checkbox"> Cochera
                    </label>
                </div>
                <div class="form-group">
                    <label class="CheckPiscina">
                        <input class="form-check-input" asp-for="Inmueble.Piscina" type="checkbox"> Piscina
                    </label>
                </div>
                <div class="form-group">
                    <label class="CheckMascotas">
                        <input class="form-check-input" asp-for="Inmueble.Mascotas" type="checkbox"> Mascotas
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.IdDireccion">Direccion</label>
                    <select asp-for="Inmueble.IdDireccion.IdDireccion" asp-items="@(new SelectList(Model.Direcciones, "IdDireccion", "DireccionCompleta"))" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.IdPropietario">Propietarios</label>
                    <select asp-for="Inmueble.IdPropietario.IdPropietario" asp-items="@(new SelectList(Model.Propietarios, "IdPropietario", "NombreYApellido"))" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label class="CheckDisponible">
                        <input class="form-check-input" asp-for="Inmueble.Disponible" type="checkbox"> Disponible
                    </label>
                </div>
                <div class="form-group">
                    <textarea asp-for="Inmueble.Descripcion" class="form-control" placeholder="Ingrese una descripcion...">@Model.Inmueble.Descripcion</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            
        </div>
    </div>
    <div class="colu2">
        
    </div>
</div>