@model InmuebleDireccion

@{
    ViewData["title"]="Editar Inmueble";
}


<div class="containerH">
    <div class="colu1">
        <div class="containerV">
            <img src="@Model.Inmueble.UrlImagen" alt="" class="img-m">
            <form asp-action="Guardar" method="post">
                <input type="hidden" asp-for="Inmueble.IdInmueble" value="@Model.Inmueble.IdInmueble">
                <input type="hidden" asp-for="Inmueble.Estado" value="@Model.Inmueble.Estado">
                <div class="form-group">
                    <label asp-for="Inmueble.UrlImagen">URL Imagen</label>
                    <input type="text" asp-for="Inmueble.UrlImagen" class="form-control">
                    <span asp-validation-for="Inmueble.UrlImagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.CantidadAmbientes">Cantidad Ambientes</label>
                    <input type="text" asp-for="Inmueble.CantidadAmbientes" class="form-control">
                    <span asp-validation-for="Inmueble.CantidadAmbientes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Metros2">M2</label>
                    <input type="text" asp-for="Inmueble.Metros2" class="form-control">
                    <span asp-validation-for="Inmueble.Metros2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Precio">Precio</label>
                    <input type="text" asp-for="Inmueble.Precio" class="form-control">
                    <span asp-validation-for="Inmueble.Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="CheckCochera">
                        <input class="form-check-input" asp-for="Inmueble.Cochera" type="checkbox"> Cochera
                    </label>
                </div>
                <div class="form-group">
                    <label class="CheckPiscina">
                        <input class="form-check-input" asp-for="Inmueble.Piscina" type="checkbox"> Piscina
                    </label>
                </div>
                <div class="form-group">
                    <label class="CheckMascotas">
                        <input class="form-check-input" asp-for="Inmueble.Mascotas" type="checkbox"> Mascotas
                    </label>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Direccion.Calle" class="form-label">Calle</label>
                    <input type="text" asp-for="Direccion.Calle" class="form-control">
                    <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="Direccion.Altura" class="form-label">Altura</label>
                    <input type="text" asp-for="Direccion.Altura" class="form-control">
                    <span asp-validation-for="Direccion.Altura" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="Direccion.Cp" class="form-label">Codigo Postal</label>
                    @* <input type="text" asp-for="Direccion.Cp" class="form-control">
                    <span asp-validation-for="Direccion.Cp" class="text-danger"></span> *@
                </div>
                <div class="form-group mb-3">
                    <label for="Direccion.Ciudad" class="form-label">Ciudad</label>
                    <input type="text" asp-for="Direccion.Ciudad" class="form-control">
                    <span asp-validation-for="Direccion.Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="Direccion.Coordenadas" class="form-label">Coordenadas</label>
                    @* <input type="text" asp-for="Direccion.Coordenadas" class="form-control">
                    <span asp-validation-for="Direccion.Coordenadas" class="text-danger"></span> *@
                </div>

                @* <div class="form-group">
                    <label asp-for="Inmueble.IdDireccion">Direccion</label>
                    <select asp-for="Inmueble.IdDireccion" asp-items="@(new SelectList(Model.Direcciones, "IdDireccion", "DireccionCompleta"))" class="form-control">
                    </select>
                </div> *@
                
                <div class="form-group">
                    <label asp-for="Inmueble.IdPropietario" class="form-label">Propietarios</label>
                    <select asp-for="Inmueble.IdPropietario"class="form-control">
                        @foreach(var p in Model.Propietarios){
                            <option value="@p.IdPropietario">@p.Apellido @p.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Inmueble.IdPropietario" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label class="CheckDisponible">
                        <input class="form-check-input" asp-for="Inmueble.Disponible" type="checkbox"> Disponible
                    </label>
                </div>
                <div class="form-group">
                    <textarea asp-for="Inmueble.Descripcion" class="form-control" placeholder="Ingrese una descripcion...">@Model.Inmueble.Descripcion</textarea>
                    <span asp-validation-for="Inmueble.Descripcion" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            
        </div>
    </div>
    <div class="colu2">
        
    </div>
</div>