@model List<Inmueble>

@{
    ViewData["title"]="Inmueble";
}


<h1>Administrar Inmuebles</h1>

<p>
    <a href="@Url.Action("Crear", "Inmueble")" class="btn btn-agregar">NUEVO</a>
</p>

<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().tipo)</th>
            <th>@Html.DisplayNameFor(model => model.First().CantidadAmbientes)</th>
            <th>@Html.DisplayNameFor(model => model.First().Precio)</th>
            <th>@Html.DisplayNameFor(model => model.First().Cochera)</th>
            <th>@Html.DisplayNameFor(model => model.First().Piscina)</th>
            <th>@Html.DisplayNameFor(model => model.First().Mascotas)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.tipo.Observacion)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadAmbientes)</td>
                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Cochera)</td>
                <td>@Html.DisplayFor(modelItem => item.Piscina)</td>
                <td>@Html.DisplayFor(modelItem => item.Mascotas)</td>
                <td>
                    <a href="@Url.Action("Editar", "Inmueble", new { id = item.IdInmueble })" class="btn btn-editar">Editar</a>
                    <form asp-action="Borrar" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.IdInmueble" />
                        <input type="submit" value="Eliminar" class="btn btn-eliminar" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>