@model InmuebleTipos
@{
    ViewData["Title"] = "Inmobiliaria Sam's";
}

<div class="text-center">
    <h1 class="titulo principal">Bienvenidos</h1>
    <h2 class="subtitulo"> @ViewData["Title"] </h2>
</div>

<div class="card border-0 shadow-lg">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="/img/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="d-flex align-items-center mb-3 my-2">
    <select id="selectTipos" class="form-select me-2">
        <option disabled hidden selected>Elija un tipo</option>
        @foreach(var item in Model.Tipos){
            <option value="@item.IdTipo">@item</option>
        }
    </select>
    <div class="d-flex align-items-center me-3">
        <label for="fechaDesdeInmuebles" class="me-2">Elija Desde</label>
        <input type="date" id="fechaDesdeInmuebles" class="form-control me-2">
        <label for="fechaHastaInmuebles" class="me-2">Elija Hasta</label>
        <input type="date" id="fechaHastaInmuebles" class="form-control me-2">
    </div>
    <button type="button" class="btn btn-primary" id="btnFiltrarInmueblesIndex">Buscar</button>
    <button type="button" class="btn btn-danger" id="limpiarFiltros">Limpiar</button>
</div>
<div class="containerInmueble">
    @foreach(var item in Model.Inmuebles){
        <a href="@Url.Action("Detalles","Inmueble", new { id = item.IdInmueble})">
            <div class="cardInmueble">
                <img src="@item.UrlImagen" alt="">
                <h2>@item.tipo</h2>
                <p>@item.Descripcion</p>
            </div>
        </a>
        
    }
</div>
@section Scripts {
    <script src="~/js/homeScript.js"></script>
}