@model IEnumerable<ProyetoInmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h2 class="h2-inquilino-background">Gestión de Inquilinos</h2>
<p>
    <a href="@Url.Action("Crear", "Inquilino")" class="btn btn-agregar">Crear Inquilino</a>
</p>

<div class="displayDeFiltros">
    <div class="barraDeBusqueda">
        <input type="text" placeholder="Buscar por DNI..." id="buscarInquilinoDNI" class="form-control">
        <button type="button" class="btn btn-primary" id="filtrarPorDni" title="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="barraDeBusqueda">
        <input type="text" placeholder="Buscar por apellido..." id="buscarInquilinoApellido" class="form-control">
        <button type="button" class="btn btn-primary" id="filtrarPorApellido" title="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="barraDeBusqueda">
        <input type="text" placeholder="Buscar por email..." id="buscarInquilinoEmail" class="form-control">
        <button type="button" class="btn btn-primary" id="filtrarPorEmail" title="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="barraDeBusqueda">
        <button type="button" class="btn btn-danger" id="inquilinosDadosDeBaja">Dados de baja</button>
    </div>
</div>
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Dni)</th>
            <th>@Html.DisplayNameFor(model => model.First().Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.First().Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.First().Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.First().Correo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tablaInquilinos">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                <td class="d-flex align-items-center w-auto">
                    <a href="@Url.Action("Editar", "Inquilino", new { id = item.IdInquilino })" class="btn btn-editbt mx-1">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form asp-action="Borrar" class="mx-1" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.IdInquilino" />
                        <button type="submit" class="btn btn-borrarbt" title="Borrar">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                    <a class="btn btn-detallebt mx-1" href="/Inquilino/Detalle/@item.IdInquilino">
                        <i class="fa-solid fa-list"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/inquilinoScript.js"></script>
}