@model List<Tipo>
@{
    ViewData["Title"] = "Tipos";
}
<h2>Tipos de Inmueble</h2>
<p>
    <a href="@Url.Action("Crear", "Tipo")" class="btn btn-agregar">Crear Tipo</a>
</p>
<table>
    <thead>
        <th>@Html.DisplayNameFor(model => model.First().Observacion)</th>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Observacion</td>
                <td>
                    <a href="@Url.Action("Editar", "Tipo", new { id = item.IdTipo })" class="btn btn-editar">Editar</a>
                    <form asp-action="Borrar" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.IdTipo" />
                        <input type="submit" value="Eliminar" class="btn btn-eliminar" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>