@model List<Contrato>
@{
    ViewData["title"] = "Contratos";
}
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Monto</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Fecha de Anulacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model){
            <tr>
                <td><a href="/Inquilino/Detalle/@c.IdInquilino">@c.inquilino.NombreYApellido</a></td>
                <td><a href="/Inmueble/Detalles/@c.IdInmueble">@c.inmueble.Descripcion</a></td>
                <td>$@c.Monto</td>
                <td>@c.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td>@c.FechaFin.ToString("dd/MM/yyyy")</td>
                <td>@(c.FechaAnulacion.Millisecond > 0? c.FechaAnulacion.ToString("DD/MM/yyyy") : "---")</td>
            </tr>
        }
    </tbody>
</table>