@model Usuario
@{
    ViewData["Title"] = "Detalle del usuario";
}
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Avatar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nombre</td>
            <td>@Model.Apellido</td>
            <td>@Model.Email</td>
            <td>@Model.Rol</td>
            <td><img src="@Model.Avatar" alt="avatar" class="img-fluid"></td>
        </tr>
    </tbody>
</table>